<ion-header [translucent]="true">
  <ion-toolbar>
  <ion-title>
  Peso Ideal
  </ion-title>
  </ion-toolbar>
  </ion-header>
  <ion-content [fullscreen]="true">
  <ion-item>
  <ion-input [(ngModel)]="altura" label="Altura"
  labelPlacement="floating" placeholder="Altura em
  metros"></ion-input>
  </ion-item>
  <ion-radio-group [(ngModel)]="sexo">
  <ion-item>
  <ion-label>Masculino</ion-label>
  <ion-radio value="m"></ion-radio>
  </ion-item>
  <ion-item>
  <ion-label>Feminino</ion-label>
  <ion-radio value="f"></ion-radio>
  </ion-item>
  </ion-radio-group>
  <ion-button expand="block" (click)="calcularPeso()">Calcular
  Peso Ideal</ion-button>
  </ion-content>
